set timeout=15
set gfxpayload=keep
set default=0
insmod all_video
timeout_style=menu

# menuentry "Boot Live RythinOS" {
#     linux /boot/vm-linuz
#     initrd /boot/initramfs.cpio.zstd
# }

menuentry "RythinOS" {
  linux /boot/vm-linuz quiet
  initrd /boot/initramfs-linux.img
}

menuentry "Boot Live RythinOS quietly" {
    linux /boot/vm-linuz quiet
    initrd /boot/initramfs.cpio.zstd
}

if [ "x$grub_platform" = xpc ]; then
  menuentry "Memtest86+ 64bit for Legacy BIOS" {
    linux "/boot/memtest64.bios"
  }
fi
if [ "x$grub_platform" = xefi ]; then
  menuentry "Memtest86+ 64bit for UEFI BIOS" {
    chainloader "/boot/memtest.efi64"
  }
fi
